.main-page-wrapper {
  display: flex;
  
  .main-page-content {
    display: flex;
    flex: 1 1 86%;
    flex-direction: column;
    background-color: #f6f6f6;
  }
}

.badge-number {
  position: relative;
  
  &:before {
    content: attr(data-number);
    color: $neutral-color;
    background-color: $tertiary-color;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 11px;
    font-family: $montserrat;
    margin-right: 5px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  &.floating-number {
    &:before {
      position: absolute;
      transform: translate(50%, -50%);
    }
  }
}
