* {
  outline: none !important;
  //outline: 1px red solid !important;
  box-sizing: border-box;
  @include scrollbars();
  @include no-text-select();
}

.success {
  color: #5e9935;
}

.danger {
  color: #d00018;
}

.cancel {
  color: #444444;
}

.d-none {
  display: none !important;
}

section {
  position: relative;
}

html {
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Gotham-Medium', serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  transition: transform 400ms;
  
  &.main {
    transform: translateX(-100%);
  }
  
}

img {
  display: block;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
  transition: transform 400ms;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-button, .secondary-button, .main-button-dark {
  cursor: pointer;
  background: $primary-color;
  border: none;
  transition: color 1000ms;
  color: #ffffff;
  font-family: $montserrat;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 40px;
  border-radius: 2px;
  line-height: 30px;
  
  &.disabled {
    background-color: #98dece;
    
  }
  
  &.dark {
    background-color: #231f20;
  }
  
  &.gray-disabled {
    background-color: #bcbcbc;
    
  }
  
}

.secondary-button {
  background: $neutral-color;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 4px;
  
  &.secondary-button-disabled {
    color: #98dece;
    border: 1px solid #98dece;
  }
  
  &.secondary-button-dark {
    color: #231f20;
    border: 1px solid #231f20;
  }
  
  &.secondary-button-gray-disabled {
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    
  }
  
}

label {
  margin-bottom: 10px;
}

input {
  @include paddingX(26px);
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Gotham-Medium', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.fa-angle-right {
  @extend %fa-icon;
}

.hover-arrow {
  %fa-icon {
    transition: all 400ms;
  }
  
  &:hover {
    %fa-icon {
      transform: translateX(40%) rotateX(0.01deg) !important;
    }
  }
}

%hover-zoom {
  transition: transform 400ms;
  
  &:hover {
    transform: scale(1.05);
  }
}

.hover-darken {
  transition: filter 400ms;
  
  &:hover {
    filter: brightness(0.6);
  }
}

.hover-lighten {
  transition: filter 400ms;
  
  &:hover {
    filter: brightness(1.2);
  }
}

.container {
  
  width: 100%;
  padding-right: 6px;
  padding-left: 6px;
  margin-right: auto;
  margin-left: auto;
}

.show {
  display: flex !important;
  
}

.change-background {
  background-color: #2e81b7;
}

.change-icon-background {
  background-color: #0b4368 !important;
}

.font-color {
  color: #ffffff !important;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: transparentize(#000000, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .text {
    color: #ffffff;
    font-size: 18px;
    margin-top: 18px;
  }
  
  #loading-1 {
    position: relative;
    
    .object {
      width: 4px;
      height: 20px;
      margin-right: 3px;
      background-color: #ffffff;
      -webkit-animation: loading-1-animation 1s infinite;
      animation: loading-1-animation 1s infinite;
      float: left;
      
      &:last-child {
        margin-right: 0;
      }
      
      &:nth-child(10) {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
      }
      
      &:nth-child(9) {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }
      
      &:nth-child(8) {
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
      }
      
      &:nth-child(7) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      
      &:nth-child(6) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }
      
      &:nth-child(5) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      
      &:nth-child(4) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
      
      &:nth-child(3) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      
      &:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }
      
      @-webkit-keyframes loading-1-animation {
        50% {
          -ms-transform: scaleY(0);
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
        }
      }
      
      @keyframes loading-1-animation {
        50% {
          -ms-transform: scaleY(0);
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
        }
      }
    }
  }
  
  #loading-2 {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    
    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid $primary-color;
      opacity: 1;
      border-radius: 50%;
      animation: loading-2-animation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      
      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
    
    @keyframes loading-2-animation {
      0% {
        width: 0;
        height: 0;
        opacity: 1;
        border-color: $primary-color;
      }
      100% {
        width: 100%;
        height: 100%;
        opacity: 0;
        border-color: yellow;
      }
    }
  }
  
  &.loading-1 {
    #loading-2 {
      display: none;
    }
  }
  
  &.loading-2 {
    #loading-1 {
      display: none;
    }
  }
}

.progress-bar {
  background-color: #2e81b7;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 5px;
  animation-fill-mode: forwards;
  animation: progress-decrease 180s forwards;
  display: flex;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="radio"] {
  background-color: $neutral-color;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  position: relative;
  width: 12px;
  -webkit-appearance: none;
}

input[type='radio']:checked:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  background-color: $primary-color;
  content: '';
  display: inline-block;
  visibility: visible;
  top: 0;
  right: 50%;
  transform: translate(50%, -100%);
  z-index: 1;
}

input[type="date"] {
  position: relative;
  padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  color: #999;
  left: 100%;
  top: 0;
  transform: translate(50%, 100%);
  
}

input[type="checkbox"] {
  border-radius: 2px;
  border: 1px solid #a9a9a9;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f00c';
  /* This is the calendar icon in FontAwesome */
  font-size: 10px;
  position: absolute;
  color: $primary-color;
  line-height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select2-container {
  
  &.select2-container--open {
    .select2-selection__arrow i {
      transform: scaleY(-1);
      color: $primary-color;
    }
    
    .select2-dropdown {
    }
  }
  
  .select2-search__field {
    display: none;
  }
  
  .select2-results__option--highlighted[aria-selected] {
    @include paddingY(5px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $secondary-font-color;;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    background-color: $primary-color;
  }
  
  .select2-results__option {
    height: 100%;
    @include paddingY(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $secondary-font-color;;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  
}

.select2 {
  width: 100% !important;
  
  .select2-selection--single {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    background-color: $neutral-color;
    padding: 25px 0;
    display: flex;
    align-items: center;
    
    .select2-selection {
      &__rendered {
        color: #a5a5a5;;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        @include paddingX(18px, 0);
      }
      
      &__arrow {
        color: $secondary-font-color;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        margin-right: 21px;
        height: 100%;
        
        i {
          transition: transform 400ms;
        }
        
      }
      
      &__placeholder {
        color: #a5a5a5;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        //margin-left: 18px;
        
      }
    }
  }
  
}

// input style
.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  
  .head-text, .text {
    color: $secondary-font-color;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .text {
    font-size: 14px;
  }
  
  .enter-date, .the-pass {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    
    input {
      padding: 15px 18px;
      color: $main-font-color;
      font-family: $montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      width: 100%;
      
      &::placeholder {
        color: rgba(119, 119, 119, 0.3);
        transition: color 100ms;
        @include max-medium-screen {
          font-size: 22px;
        }
      }
      
    }
    
    &.active {
      border: 1px solid $primary-color;
      
      input {
        color: $primary-color;
        font-size: 16px;
        
        &::placeholder {
          color: #FFFFFF;
          
        }
        
        @include max-medium-screen {
          font-size: 25px;
        }
        
      }
      
    }
    
    &.wrong {
      
      border: 1px solid #ff4000;
      
      input {
        color: #ff4000;
        font-size: 16px;
      }
      
    }
    
  }
  
}
