@mixin paddingX($l, $r:$l) {
    padding-left: $l;
    padding-right: $r;
}

@mixin paddingY($t, $b:$t) {
    padding-top: $t;
    padding-bottom: $b;
}

@mixin marginX($l, $r:$l) {
    margin-right: $r;
    margin-left: $l;
}

@mixin marginY($t, $b:$t) {
    margin-top: $t;
    margin-bottom: $b;
}

@mixin square($value) {
    width: $value;
    height: $value;
}


@mixin font-size($fs, $window:600) {
    font-size: $fs*1px;
}


@mixin line-height($lh, $window:600) {
    line-height: $lh*1px;
}


@mixin ie() {
    body.ie & {
        @content;
    }
}

//region media query


//region {only} media
@mixin xx-small-screen() {
    @media screen and (max-width: $xx-small-screen-max-width) {
        @content;
    }
}

@mixin x-small-screen() {
    @media screen and (min-width: $x-small-screen-min-width) and (max-width: $x-small-screen-max-width) {
        @content;
    }
}

@mixin small-screen() {
    @media screen and (min-width: $small-screen-min-width) and (max-width: $small-screen-max-width) {
        @content;
    }
}

@mixin medium-screen() {
    @media screen and (min-width: $medium-screen-min-width) and (max-width: $medium-screen-max-width) {
        @content;
    }
}

@mixin large-screen() {
    @media screen and (min-width: $large-screen-min-width) and (max-width: $large-screen-max-width) {
        @content;
    }
}

@mixin x-large-screen() {
    @media screen and (min-width: $x-large-screen-min-width) {
        @content;
    }
}

//endregion {only} media

//region {max} media

@mixin max-x-small-screen() {
    @media screen and (max-width: $x-small-screen-max-width) {
        @content;
    }
}

@mixin max-small-screen() {
    @media screen and (max-width: $small-screen-max-width) {
        @content;
    }
}

@mixin max-medium-screen() {
    @media screen and (max-width: $medium-screen-max-width) {
        @content;
    }
}

@mixin max-large-screen() {
    @media screen and (max-width: $large-screen-max-width) {
        @content;
    }
}

//endregion {max} media

//region {min} media

@mixin min-x-small-screen() {
    @media screen and (min-width: $x-small-screen-min-width) {
        @content;
    }
}

@mixin min-small-screen() {
    @media screen and (min-width: $small-screen-min-width) {
        @content;
    }
}

@mixin min-medium-screen() {
    @media screen and (min-width: $medium-screen-min-width) {
        @content;
    }
}

@mixin min-large-screen() {
    @media screen and (min-width: $large-screen-min-width) {
        @content;
    }
}

@mixin min-x-large-screen() {
    @media screen and (min-width: $x-large-screen-min-width) {
        @content;
    }
}

//endregion {min} media

//endregion media query

@mixin change-gutter($gutter-size) {
    @include marginX(-$gutter-size);
    > div {
        @include paddingX($gutter-size);
    }
}

@mixin scrollbars() {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #cccccc;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #cccccc;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #909090;
        outline: 1px solid #cccccc;
        border-radius: 5px;
        transition: background-color 1000ms;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: darken(#909090, 30);
    }
    &::-webkit-scrollbar-corner {
        background-color: #cccccc;
    }
}


@mixin no-text-select() {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none;
}


