// media screen sizes
$xx-small-screen-max-width: 400.98px;
$x-small-screen-max-width: 575.98px;
$small-screen-max-width: 767.98px;
$medium-screen-max-width: 991.98px;
$large-screen-max-width: 1199.98px;

$x-small-screen-min-width: 401px;
$small-screen-min-width: 576px;
$medium-screen-min-width: 768px;
$large-screen-min-width: 992px;
$x-large-screen-min-width: 1200px;

//Color scheme
$neutral-color: #ffffff;
$primary-color: #00ab84;
$secondary-color: transparentize($primary-color, 0.94);
$main-font-color: #4a4a4a;
$secondary-font-color: #666666;
$tertiary-color: #5f215f;
$footer-font-color: #c2c2c2;
$main-background-color: #f6f6f6;
$border-color: #a9a9a9;
// font-family
$montserrat: Montserrat, sans-serif;
$roboto: Roboto, sans-serif;


