@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/select2/dist/css/select2.min.css";
@import "variables";
@import "fonts";
@import "mixins";
@import "general-classes";
@import "components";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/side-bar";
@import "pages/index";

.iv-wp {
}

.iv-wp-from-bottom {
}

.iv-wp-from-left {
}

.iv-wp-from-right {
}

.iv-wp-from-top {
}