.customer-page-wrapper {
  .container {
    margin: 50px;
    width: auto;
  }
  
  .personal-and-address {
    display: flex;
    flex-direction: column;
    // text left and right
    .main-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      
      .left-text {
        display: flex;
        align-items: center;
        
        .text {
          .title {
            font-size: 20px;
          }
          
          color: $main-font-color;
          font-family: $montserrat;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-left: 20px;
        }
        
        .icon {
          font-size: 10px;
          color: $main-font-color;
          
        }
        
      }
      
      .right-text {
        display: flex;
        flex-direction: column;
        color: $secondary-font-color;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        
        .title {
          margin-left: auto;
          
        }
      }
      
    }
    
    //    information and button
    .information-and-edit {
      display: flex;
      flex-direction: column;
      padding: 40px 43px 40px 51px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      border: 1px solid #a9a9a9;
      background-color: $neutral-color;
      margin-bottom: 30px;
      
      .info-and-address {
        display: flex;
        margin-bottom: 30px;
        
        .personal-info {
          margin-right: 160px;
        }
        
        .text {
          color: $main-font-color;
          font-family: $montserrat;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          margin-bottom: 40px;
          
          .icon {
            font-size: 14px;
            color: #dadada;
            margin-left: 10px;
            
          }
        }
        
        table {
          td {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            
            &:nth-child(even) {
              color: $secondary-font-color;
              
            }
            
            &:nth-child(odd) {
              color: #333333;
              
            }
          }
          
          &.info {
            td:nth-child(odd) {
              padding-right: 21px;
            }
            
          }
          
          &.add {
            td:nth-child(odd) {
              padding-right: 70px;
            }
            
          }
          
        }
        
      }
      
      .main-button {
        margin-left: auto;
      }
      
    }
    
  }
  
  .contacts-and-facilities {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    background-color: $neutral-color;
    padding: 55px 50px;
    @include max-large-screen {
      padding: 30px 15px;
      
    }
    
    .the-date {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      
      .date-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary-color;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        border: 1px solid #a9a9a9;
        background-color: $neutral-color;
        padding: 0 20px;
        
      }
      
      .date-table {
        border-radius: 2px;
        border-collapse: collapse;
        border: 1px solid #a9a9a9;
        
        thead tr {
          background-color: $neutral-color !important;
          
        }
        
        th {
          text-align: left;
          color: #333333;
          font-family: $montserrat;
          font-size: 16px;
          font-weight: 400;
          //line-height: 30px;
          border-bottom: 1px solid #f0f0f0;
          padding: 20px 0 20px 15px;
          
          &:not(:last-child) {
            border-right: 1px solid #f0f0f0;
          }
        }
        
        td {
          color: $secondary-font-color;
          font-family: $montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          padding: 20px 0 20px 15px;
          
          &:not(:last-child) {
            border-right: 1px solid #f0f0f0;
          }
        }
        
        tr {
          &:not(:last-child) {
            border-bottom: 1px solid #f0f0f0;
          }
          
          &:nth-child(odd) {
            background-color: $secondary-color;
            
          }
        }
        
        &.Facilities {
          th {
            padding: 20px 0 20px 5px;
          }
          
          td {
            font-size: 14px;
            line-height: 25px;
            padding: 20px 5px;
            
            &:last-child {
              padding: 20px 5px;
            }
            
          }
          
        }
        
      }
      
      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
        
        .secondary-button {
          margin-right: 10px;
        }
      }
      
    }
    
    .products {
      border-radius: 2px;
      border: 1px solid #e5e5e5;
      background-color: #f9f9f9;
      display: flex;
      justify-content: space-between;
      padding: 18px 21px;
      
      .text {
        color: #9c9c9c;
        font-family: "Neufile Grotesk";
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
      }
      
      .plus-icon {
        font-size: 16px;
        color: $secondary-font-color;
      }
    }
    
  }
}