.dashboard-page-wrapper {
  .my-container {
    padding: 50px;
  }
  
  .dashboard-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
    .text {
      color: $primary-color;
      font-family: $neutral-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }
    
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .main-button {
        @include paddingX(15px);
        
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
  
      .button-icon {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    
  }
  
  .dashboard-taps {
    margin-bottom: 35px;
    
    .tape {
      border-radius: 4px;
      border: 1px solid $border-color;
      background-color: $neutral-color;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .text-number {
        display: flex;
        //align-items: flex-start;
        flex-direction: column;
        
        .text {
          color: #231f20;
          font-family: $montserrat;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          margin-bottom: 20px;
          
        }
        
        .number {
          font-family: $montserrat;
          font-size: 40px;
          font-weight: 700;
          line-height: 30px;
          
        }
        
      }
      
      .icon {
        font-size: 60px;
      }
      
      &.customers {
        box-shadow: 0 4px #16a0de;
        
        span {
          border-radius: 2px;
          background-color: #ef275d;
          opacity: 0.1;
          
          color: #fb6087;
          font-family: $montserrat;
          font-size: 10px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          margin-left: 14px;
          padding: 4px 5px;
          
        }
        
        .number, .icon {
          color: #16a0de;
        }
        
      }
      
      &.earnings {
        box-shadow: 0 4px #1c3845;
        
        .number, .icon {
          color: #1c3845;
        }
        
      }
      
      &.notifications {
        box-shadow: 0 4px $primary-color;
        
        .number, .icon {
          color: #00ab83;
        }
        
      }
      
      &.messages {
        box-shadow: 0 4px #b53b2d;
        
        .number, .icon {
          color: #b53b2d;
        }
        
      }
      
    }
    
  }
  
  section.flow-chart {
    .list {
      border-radius: 4px;
      border: 1px solid $border-color;
      background-color: $neutral-color;
      padding: 21px 30px;
      margin-bottom: 30px;
      
      .title {
        color: #231f20;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        background-color: $neutral-color;
        margin-bottom: 13px;
        
        .cartical {
          border-radius: 2px;
          background-color: #ef275d;
          //opacity: 0.1;
          color: #fb6087;
          font-family: $montserrat;
          font-size: 10px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          @include marginX(15px);
          padding: 4px 5px;
        }
        
        .need-action {
          border-radius: 2px;
          background-color: #adb300;
          //opacity: 0.1;
          color: #adb300;
          font-family: $montserrat;
          font-size: 10px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          padding: 4px 5px;
          
        }
      }
      
      .users {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:nth-child(even) {
          background-color: $secondary-color;
          
        }
  
        .icon-user-name {
          display: flex;
          align-items: center;
          
          .profile-pc {
            font-size: 35px;
            color: #dce1ea;
          }
    
          .user-name-text {
            margin-left: 16px;
      
            .name, .text {
              color: #231f20;
              font-family: $montserrat;
              font-size: 14px;
              font-weight: 400;
              line-height: 30px;
            }
            
            .text {
              color: #959595;
              font-weight: 700;
              
              .arrow-up, .arrow-down {
                color: #30f526;
                font-size: 7px;
                margin-right: 9px;
              }
              
              .arrow-down {
                color: #ff4000;
              }
            }
            
          }
          
        }
        
        .arrow {
          font-size: 7px;
          color: #adadad;
          transition: all 400ms;
        }
        
        &.active {
          .arrow {
            color: $primary-color;
          }
        }
        
        &.with-button {
          background-color: $neutral-color;
  
          .icon-user-name {
            align-items: flex-start;
    
            .user-name-text {
              margin-right: 32px;
            }
          }
  
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          
          .main-button {
            margin-top: 17px;
            @include paddingX(15px);
          }
        }
        
        &.warning {
          border-radius: 3px;
          background-color: #ff4000;
          padding: 22px 30px;
          
          &:not(:last-child) {
            margin-bottom: 30px;
  
            .user-name-text {
              .name, .text {
                color: $neutral-color;
              }
    
              .secondary-button {
      
                margin-top: 17px;
                @include paddingX(15px);
                color: #ff4000;
                border: none !important;
              }
    
            }
  
            .profile-pc {
              color: $neutral-color;
            }
            
            
            .arrow {
              color: $neutral-color;
            }
            
          }
          
          &:last-child {
            background-color: #f6f6f6;
            
            .profile-pc {
              color: #ff4000;
              
            }
          }
          
        }
        
      }
      
    }
  }
  
}