
.login-page-wrapper {
  .interface {
    position: relative;
    height: 960px;
    background-color: #f6f6f6;
    
    .login-hero-bg {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
      width: auto;
      overflow: hidden;
      
      .login-bg {
        display: block;
        width: auto;
        height: auto;
        object-fit: contain;
        object-position: center;
        transition: transform 400ms;
      }
      
      .number-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }
      
      .logo-filter-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-image: linear-gradient(to bottom, rgba(14, 88, 79, 0.67) 0%, rgba(0, 171, 132, 0) 100%);
      }
      
      .top-logo {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 3;
        @include max-large-screen {
          left: 50%;
          transform: translateX(-50%);
        }
        
      }
      
    }
    
    .sign-in {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //padding: 236px 270px;
      margin: 0 auto;
      
      .login-logo {
        margin-bottom: 40px;
      }
      
      .data {
        
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          .head-text {
            margin-bottom: 20px;
            @include max-medium-screen {
              font-size: 30px;
              margin-bottom: 10px;
              &:last-child {
                display: none;
              }
              
            }
          }
          
        }
        
        .in-md {
          display: none;
          @include max-medium-screen {
            &:first-child {
              margin-bottom: 20px;
              font-size: 30px;
            }
            &:not(:first-child) {
              margin-top: 10px;
              font-size: 15px;
            }
            
          }
          
        }
        
        .the-pass, .enter-date {
          width: 580px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include max-medium-screen {
            width: 400px;
          }
          
          .eye {
            margin-right: 15px;
            
            .eye-icon {
              color: $primary-color;
              font-size: 20px;
              display: none;
            }
            
            .eye-icon-close {
              color: #ff4000;
              font-size: 20px;
              
            }
            
          }
          
          &.active {
          
          }
          
        }
        
      }
      
      .main-button {
        margin-top: 5px;
        padding: 15px 65px;
        box-shadow: 0 5px 16px rgba(0, 171, 132, 0.46);
        @include max-medium-screen {
          font-size: 30px;
        }
      }
    }
    
  }
  
}


