.profile-page-wrapper {
  .my-container {
    padding: 50px;
  }
  
  section {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: $neutral-color;
    padding: 40px;
  
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .profile-pic {
      @include marginY(63px, 25px);
      margin: 63px 74px 25px 74px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .pic {
        border-radius: 50%;
        border: 1px solid $primary-color;
      }
      
      .text {
        color: $main-font-color;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-top: 20px;
      }
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      .main-button, .secondary-button {
        @include paddingX(20px);
      }
      
      .secondary-button {
        margin-right: 10px;
      }
    }
    
  }
  
  .right-content {
    section {
      &:last-child {
        padding: 0;
      }
    }
    
    .top-content, .middle-content {
  
      margin-bottom: 30px;
      
      .complete-information {
        padding-top: 39px;
        
        .main-title {
          color: $main-font-color;
          font-family: $montserrat;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          margin-bottom: 10px;
        }
  
        //date general class
        .pay {
          display: flex;
          flex-direction: column;
    
          .text {
            color: #666666;
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
          }
    
          .chose {
            display: flex;
            align-items: center;
      
            .text {
              color: #a5a5a5;
              font-family: $montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 30px;
              margin-left: 15px;
            }
          }
    
        }
        
        &.personal-address {
          input {
            &:first-child {
              width: 100%;
            }
          }
        }
  
        .upload-file {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 7.5px 19px;
    
          .icon {
            color: $primary-color;
            font-size: 14px;
          }
    
        }
        
      }
      
    }
  
    // button content
    .button-content {
  
      @include paddingY(40px);
  
      .main-title {
        color: $main-font-color;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 10px;
      }
  
      .primary-secondary-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        .buttons {
          .text {
            color: $secondary-font-color;
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 11px;
          }
      
          .button {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
            .main-button, .secondary-button {
              //margin-right: 20px;
              margin-bottom: 20px;
          
            }
        
          }
      
        }
    
      }
  
    }
  
    //  tap content
    .tapes-content {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      border: 1px solid $border-color;
      background-color: $neutral-color;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
  
      .tapes-header {
        display: flex;
    
        .tap-header {
          color: $secondary-font-color;
          font-family: $montserrat;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          border-right: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          background-color: #f6f6f6;
          padding: 13px 0;
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          transition: all 400ms;
          cursor: pointer;
      
          &:last-child {
            border-right: none;
          }
      
          &.active {
            color: $primary-color;
            border-bottom: none;
            background-color: $neutral-color;
        
          }
      
        }
    
      }
  
      .content {
        height: 180px;
      }
  
    }
    
  }
}