.footer {
  background-color: #f9f9f9;
  display: flex;
  padding: 13px 26px 13px 0;
  
  .text {
    color: $footer-font-color;
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
  }
}