.header {
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 26px;
  height: 50px;
  width: 100%;
  
  .icon {
    width: 16px;
    color: $neutral-color;
    cursor: pointer;
    
    &.search-icon {
      color: #cdced0;
    }
  }
  
  .left-nav-items {
    display: flex;
    align-items: center;
    
    .search {
      position: relative;
      width: 320px;
      margin-left: 20px;
      border-radius: 2px;
      overflow: hidden;
      
      input {
        padding: 9px 12px;
        width: 100%;
        color: $main-font-color;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        
        &::placeholder {
          color: rgba(119, 119, 119, 0.3);
        }
      }
      
      .search-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      
    }
    
  }
  
  .right-nav-items {
    display: flex;
    align-items: center;
    
    .icons {
      display: flex;
      
      .icon {
        margin-right: 25px;
      }
      
      .comment {
        position: relative;
        
        .dot {
          width: 0;
          height: 0;
          background: red;
          position: absolute;
          border-radius: 50%;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          opacity: 0;
          transition: opacity 400ms;
        }
        
        &.new {
          .dot {
            opacity: 1;
            width: 7px;
            height: 7px;
          }
        }
      }
      
      .grid {
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        
        .point {
          background: $neutral-color;
          width: 4px;
          height: 4px;
          flex: 0 0 4px;
        }
      }
      
    }
    
    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      .profile-pic {
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #15c099;
        
      }
      
      .text {
        color: $neutral-color;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        @include marginX(10px);
      }
      
    }
    
  }
  
}