.side-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex: 0 0 20%;
  background: $neutral-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: flex-basis 400ms, width 400ms,;
  
  .side-bar-logo {
    padding: 34px 37px 58px;
    width: 100%;
    transition: width 400ms, padding 400ms;
    object-fit: contain;
    object-position: left;
  }
  
  .side-bar-items {
    display: flex;
    flex-direction: column;
    
    .side-bar-item {
      margin-bottom: 32px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 400ms;
      
      .icon-and-text {
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          font-size: 16px;
          color: $secondary-font-color;
          margin-right: 15px;
          transition: all 400ms;
          position: relative;
        }
        
        .text {
          font-family: $montserrat;
          color: $secondary-font-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
        }
  
        &:before {
          display: none;
        }

      
      }
  
      .icon-and-number {
        display: flex;
        align-items: center;
    
        .arrow {
          font-size: 15px;
          color: $secondary-font-color;
        }
    
        .circle {
          color: $neutral-color;
          background-color: $primary-color;
          padding: 2px 5px;
          border-radius: 50%;
          font-size: 11px;
          font-family: $montserrat;
          margin-right: 5px;
        }
        
      }
      
      &.active {
        border-left: 2px solid $primary-color;
        
        .icon, .text, .arrow {
          color: $primary-color;
        }
        
      }
      
    }
    
  }
  
  &.shrink {
    width: 77px;
    flex-basis: 77px;
    
    .side-bar-logo {
      padding: 13px 18px 58px;
      width: 540%;
    }
    
    .side-bar-items {
      .side-bar-item {
        margin-bottom: 30px;
        padding: 0;
        width: 100%;
        justify-content: center;
  
        .icon-and-text {
    
          .text {
            display: none;
          }
    
          .icon {
            margin: 0;
            font-size: 25px;
          }
    
          &:before {
            display: block;
          }
        }
  
        .icon-and-number {
          display: none;
        }
        
      }
    }
    
  }
  
}